version: 2.1

jobs:
  test-and-lint:
    docker:
      - image: cimg/python:3.10.1
    steps:
      - checkout
      - run:
          name: install dependencies
          command: pip install -r requirements.txt
      - run:
          name: change direction
          command: |
             cd airplane
             python manage.py test myapp
      - run:
          name: run tests
          command: dir

workflows:
  build-and-test-workflow:
    jobs:
      - test-and-lint
